/*-----------------------------------*\
  #index.css
\*-----------------------------------*/

/**
 * copyright 2024 @codebyroland
 */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  /* defauult size large screen */
  font-size: 62.5%;
  /* 1rem === 10px  */
}

.container {
  font-family: sans-serif;
}

nav.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 20px #00000030;
          box-shadow: 0 10px 20px #00000030;
}

nav.navbar .navbar-brand .logo {
  font-size: 36px;
  font-weight: 600;
  text-shadow: 0 5px 5px #00000030;
}

nav.navbar .navbar-list .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.navbar .navbar-list .nav-ul .nav-li {
  list-style-type: none;
  margin-left: 30px;
}

nav.navbar .navbar-list .nav-ul .nav-li:nth-child(1) {
  margin-left: 0;
}

nav.navbar .navbar-list .nav-ul .nav-li .nav-link {
  text-decoration: none;
  color: #1a1e24;
  font-size: 22px;
  font-weight: 500;
}

nav.navbar .navbar-list .nav-ul .nav-li .nav-link:hover {
  color: #259dff;
}

nav.navbar .menu {
  display: none;
  cursor: pointer;
}

nav.navbar .menu span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #259dff;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  nav.navbar .navbar-list {
    background: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 30px;
    width: 100%;
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  nav.navbar .navbar-list .nav-ul {
    position: absolute;
    top: 0;
    left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.navbar .navbar-list .nav-ul .nav-li {
    margin: 0 0 10px;
  }
  nav.navbar .menu-active {
    height: 150px;
  }
  nav.navbar .menu {
    display: block;
  }
}
/* 
.nav {
  padding: 2rem 10rem;
  font-size: 2rem;
  display: flex;
  justify-content:flex-end;
  position: relative;
  background-color: red;
  position: relative;
}

.logo{
  background-color: aquamarine;
  position: absolute;
  top: 25%;
  left: 5%;
  z-index: 100;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  background-color: greenyellow;

} */


/* .nav-item {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
  z-index: 90;
}

.nav-bar .fa-bars {
  display: none;
  z-index: 100;
  position: fixed;
  top:5%;
  right: 5%;
}

.btn {
  padding: 1.5rem 2rem;

  /* position: relative; */
/* } */

.container {
  padding: 0 10rem;
  background-color: hsla(227, 39%, 75%, 1);
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
}

.header__summary {
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;
  align-items: start;
}

.header__summary-price {
  font-size: 4.2rem; 
}

.header__summary-title {
  font-size: 7.8rem;
}

.header__summanry-details {
  font-size: 2.2rem;
  
  font-weight: 600;
}

.header__img {
  flex-basis: 50%;
  padding: 2rem;
  width: 100%;
}

.header__img--image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hero {
  width: 100%;
}

.hero-title {
  font-size: 4rem;
  text-align: center;
  padding: 6rem;
  font-weight: 500;
}

.hero-container {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-container-img {
  width: 100%;
}


.hero-h3 {
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
}

.hero-h4 {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(255, 170, 0);
}

.button {
  padding: 6rem;
  display: flex;
  justify-content: center;
  outline: 2px solid red;
}










.footer {
  background-color: hsla(227, 39%, 75%, 1);
  color: black;
  display: flex;
  padding: 20rem;
  gap: 2rem;
  justify-content: space-around;
  width: 100dvw;
  /* background-color: red; */
}

.footer_item{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: ; */
}

.footer_item input[type="text"]{
 justify-content: start;
 width: 55%;
 height: 2.5rem;
 padding: 1rem;
 outline: none;
}

.footer_item input[type="button"] {
  width: 55%;
  
}



.footer h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
  text-align: start;
}

.footer h3 {
  font-size: 1.5rem;
  
  margin-bottom: 20px;
  width: 70%;
  color: rgb(32, 31, 31);
  /* background-color: green; */
}




.nav_active{
  display: flex;
  visibility: visible;
  opacity: 1;
}














/* media queries */

@media screen and (max-width: 899px) {

  .nav {
    padding: 1.5rem 2rem;
    
  }

  .nav-bar .fa-bars {
    display: block;
    font-size: 3rem;

  }
  .nav-bar{
    width: 60%;
  }

  .nav-item {
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    /* right: -100%; */
    width: 40%;
    height: 100vh;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 50px 20px; */
    transition: all .55s ease;
    z-index: 90;
  }

  .nav-item li {
    margin-left: 0;
    display: block;
    margin: 7px 0;

  }


  #list1 {
    margin-top: 150px;
  }

  .nav-item.open {
    top: 0;
    right: 0;
  }

  html {
    font-size: 100%;
  }

  .header {
    flex-direction: column;
  }

  .header__summary-price {
    font-size: 2rem;
  }

  .header__summary-title {
    font-size: 4.5rem;
    line-height: 1;
  }

  .header__summanry-details {
    font-size: 1.5rem;
  }

  .header__img {
    padding: 2rem 0;
  }

  .header__summary {
    padding: 2rem 0;
    gap: 1rem;
  }

  .hero-title {
    font-size: 1.5rem;
    padding: 3rem;
  }

  .hero-h3 {
    font-size: 1.5rem;
  }

  .hero-h4 {
    font-size: 1rem;
  }

  .button {
    padding: 3rem;
  }

  .footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 414px) {

  html {
    font-size: 50%;
    /*1rem === 8px  */
  }

  .footer {
    max-width: 300px;
  }

}